export(colm) ##  comean, cocov, covar, cocor)

S3method(summary, colm)
S3method(plot, colm)
S3method(vcov, colm)
S3method(plot, colm)
S3method(predict, colm)
S3method(add1, colm)
S3method(anova, colm)
S3method(confint, colm)
S3method(cooks.distance, colm)
S3method(drop1, colm)
S3method(effects, colm)
S3method(influence, colm)
S3method(rstandard, colm)
S3method(rstudent, colm)
S3method(update, colm)
S3method(deviance, colm)

importFrom("methods", "as")
importFrom("stats", "coef", "fitted", "is.empty.model", "lm",
     "model.matrix", "model.response", "model.weights",
     "na.exclude", "nobs", "quantile", "residuals", "setNames", "terms",
     "vcov", "cooks.distance", "effects", "influence", "rstandard", "rstudent")
importFrom("Matrix", "Diagonal", "Matrix", "bdiag")
#importFrom("graphics", "plot", "points", "segments")
