## importFrom("graphics", "plot", "points", "segments")
## importFrom("stats", "coef", "glm", "model.matrix", "residuals", "terms", "vcov")

export(cglm)

S3method(summary, cglm)
S3method(plot, cglm)
S3method(vcov, cglm)
S3method(plot, cglm)
S3method(predict, cglm)
S3method(add1, cglm)
S3method(anova, cglm)
S3method(confint, cglm)
S3method(cooks.distance, cglm)
S3method(drop1, cglm)
S3method(effects, cglm)
S3method(influence, cglm)
S3method(rstandard, cglm)
S3method(rstudent, cglm)
S3method(update, cglm)
S3method(deviance, cglm)

importFrom("methods", "as")
importFrom("stats", "coef", "fitted", "is.empty.model", "lm",
     "model.matrix", "model.response", "model.weights",
     "na.exclude", "nobs", "quantile", "residuals", "setNames",
     "vcov")
importFrom("Matrix", "Diagonal", "Matrix", "bdiag")